ul#list{
    padding: 0px 20px;
}
.fullscreen{ /*ocupa tela intera do banner*/
    width: 100%;
}
div#carousel{
    width: 50%;
    position: relative;
    left: 25%;
}

.menu ul {
    text-align: center;
}

.riquered{
    color: red;
}

#pass {
    width: 320px;
}


.window{
    display:none;
    width:300px;
    height:300px;
    position:absolute;
    left:0;
    top:0;
    background:#FFF;
    z-index:9900;
    padding:10px;
    border-radius:10px;
}

#mascara{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
}

.fechar{display:block; text-align:right;}


/*spinner*/
.loader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    position: fixed;
}

.loader:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

#floatingCirclesG {
    position: relative;
    width: 96px;
    height: 96px;
    margin: auto;
    transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
}

.f_circleG {
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 17px;
    width: 17px;
    border-radius: 9px;
    -o-border-radius: 9px;
    -ms-border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    animation-name: f_fadeG;
    -o-animation-name: f_fadeG;
    -ms-animation-name: f_fadeG;
    -webkit-animation-name: f_fadeG;
    -moz-animation-name: f_fadeG;
    animation-duration: 0.672s;
    -o-animation-duration: 0.672s;
    -ms-animation-duration: 0.672s;
    -webkit-animation-duration: 0.672s;
    -moz-animation-duration: 0.672s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}

#frotateG_01 {
    left: 0;
    top: 39px;
    animation-delay: 0.2495s;
    -o-animation-delay: 0.2495s;
    -ms-animation-delay: 0.2495s;
    -webkit-animation-delay: 0.2495s;
    -moz-animation-delay: 0.2495s;
}

#frotateG_02 {
    left: 11px;
    top: 11px;
    animation-delay: 0.336s;
    -o-animation-delay: 0.336s;
    -ms-animation-delay: 0.336s;
    -webkit-animation-delay: 0.336s;
    -moz-animation-delay: 0.336s;
}

#frotateG_03 {
    left: 39px;
    top: 0;
    animation-delay: 0.4225s;
    -o-animation-delay: 0.4225s;
    -ms-animation-delay: 0.4225s;
    -webkit-animation-delay: 0.4225s;
    -moz-animation-delay: 0.4225s;
}

#frotateG_04 {
    right: 11px;
    top: 11px;
    animation-delay: 0.509s;
    -o-animation-delay: 0.509s;
    -ms-animation-delay: 0.509s;
    -webkit-animation-delay: 0.509s;
    -moz-animation-delay: 0.509s;
}

#frotateG_05 {
    right: 0;
    top: 39px;
    animation-delay: 0.5955s;
    -o-animation-delay: 0.5955s;
    -ms-animation-delay: 0.5955s;
    -webkit-animation-delay: 0.5955s;
    -moz-animation-delay: 0.5955s;
}

#frotateG_06 {
    right: 11px;
    bottom: 11px;
    animation-delay: 0.672s;
    -o-animation-delay: 0.672s;
    -ms-animation-delay: 0.672s;
    -webkit-animation-delay: 0.672s;
    -moz-animation-delay: 0.672s;
}

#frotateG_07 {
    left: 39px;
    bottom: 0;
    animation-delay: 0.7585s;
    -o-animation-delay: 0.7585s;
    -ms-animation-delay: 0.7585s;
    -webkit-animation-delay: 0.7585s;
    -moz-animation-delay: 0.7585s;
}

#frotateG_08 {
    left: 11px;
    bottom: 11px;
    animation-delay: 0.845s;
    -o-animation-delay: 0.845s;
    -ms-animation-delay: 0.845s;
    -webkit-animation-delay: 0.845s;
    -moz-animation-delay: 0.845s;
}

@keyframes f_fadeG {
    0% {
        background-color: rgb(0, 0, 0);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-o-keyframes f_fadeG {
    0% {
        background-color: rgb(0, 0, 0);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-ms-keyframes f_fadeG {
    0% {
        background-color: rgb(0, 0, 0);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-webkit-keyframes f_fadeG {
    0% {
        background-color: rgb(0, 0, 0);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-moz-keyframes f_fadeG {
    0% {
        background-color: rgb(0, 0, 0);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}


